@use "./variables";

footer {
  background: variables.$dark-bg;
  color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0 8px 10px hsla(0, 0%, 0%, 0.75);
}
