@use "./variables";

footer {
  background: variables.$dark-bg;
  color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  margin-top: 66%;
}
