@use "./variables";
@use "./navbar";
@use "./footer";*

body {
  font-family: Arial, sans-serif;
  background-color:variables.$body-bg;
  color: variables.$light-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: variables.$dark-bg;
  color: variables.$light-text;
}

footer {
  background-color: variables.$dark-bg;
  color: variables.$light-text;
}


// Classe pour les titres centrés et stylisés
.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 20px 0;
  color: variables.$dark-bordeaux; /* Couleur identique au fond de la navbar */
}