@use "./variables";
@use "./navbar";
@use "./footer";*

body {
  font-family: Arial, sans-serif;
  background-color:variables.$body-bg;
  color: variables.$light-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: variables.$dark-bg;
  color: variables.$light-text;
}

footer {
  background-color: variables.$dark-bg;
  color: variables.$light-text;
}
