@use "./variables";

nav {
  background: variables.$primary-color;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: variables.$accent-color;
        }
      }
    }
  }
}
