@use "./variables";

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left:5%;
}

.vertical-line {
  position: absolute;
  left: 7%;
  width: 4px;
  background: variables.$dark-bg;
  height: 90%;
  margin-left:5%;
}

.vertical-line.dotted {
  position: absolute;
  width: 4px;
  height: 10%;
  background: repeating-linear-gradient(
    to bottom,
    variables.$dark-bg,
    variables.$dark-bg 5px,
    transparent 5px,
    transparent 10px
  );
  top: 90%;
  margin-left:5%;
}

.timeline-element {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.timeline-date {
  position: absolute;
  left:-2%;
  font-weight: bold;
  color: variables.$dark-bg;
  font-size: 2rem;
}

.timeline-point {
  position: absolute;
  margin-left:11.5%;
  width: 16px;
  height: 16px;
  background-color: variables.$dark-bg;
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.timeline-point.active {
  opacity: 1;
  transform: scale(3.5);
}

.timeline-description {
  margin-left: 25%;
  padding: 10px 20px;
  background: variables.$body-bg;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
