$primary-color: hsl(210, 49%, 45%);   // Bleu moyen
$secondary-color: hsl(210, 34%, 25%); // Bleu foncé
$dark-bg: hsl(0, 0%,40%);            // Gris sombre
$body-bg: hsl(0, 0%, 90%);            // Gris très clair
$accent-color: hsl(355, 70%, 50%);    // Rouge vibrant
$hover-color: hsl(355, 70%, 60%);     // Rouge clair pour le hover
$light-text: hsl(0, 0%, 0%);
$title-color: hsl(210, 34%, 25%);     // Bleu foncé pour les titres
$dark-bordeaux: hsl(353, 52%, 25%);   // Rouge bordeaux foncé
$font-stylish: 'Poppins', sans-serif; // Police stylée